<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#"><%=user%></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form method="POST" action="/logout" style="margin-left:auto" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
    </nav>
    <div class="container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>

        <% articles.forEach(article=>{ %>
            <div class="card mt-4">
                <div class=" card-body">
                    <h4 class="card-title"><%=article.title%></h4>
                    <div class="card-subtitle text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
                    <div class="card-text mb-2"><%=article.description %></div>     
                    <div style="display:flex">
                        <span>Total hits : &nbsp;</span>
                        <span > <%=article.hits%></span>                        
                    </div>
                    <a href="/articles/<%=article.id%>" class="btn btn-primary">Read More</a>    
                    <form action="/articles/<%=article.id%>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>   
                </div>
            </div>
            
        <% }) %>
    </div>
</body>
</html>